<style>
#back-to-top {
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  {# display: none; #}
  align-content: center;
}

#back-to-top.visible {
  display: unset;
}
</style>

<nav>
  <a href="#top" id="back-to-top" class="action-button">
    <span class="material-symbols-outlined">{% include "../images/up_arrow.svg" %}</span>
  </a>
</nav>

<script>
  // Show/hide the back to top button based on the current scroll point
  const btn = document.getElementById('back-to-top');
  window.onscroll = () => {
    if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
      btn.classList.add('visible');
    } else {
      btn.classList.remove('visible');
    }
  };
</script>
