{% macro meditationContent(title, displayDate, content, titleId="page-title", dateId="", contentId="") %}

<style>
  .meditation-header {
    text-align: end;
  }

  .meditation-header time {
    font-family: var(--font-sans);
    font-size: var(--typography--1);
    color: var(--muted);
  }
</style>

<article aria-labelledby="{{ titleId }}">
  <header class="meditation-header">
    <time {% if dateId %} id="{{ dateId }}"{% endif %} datetime="--{{ displayDate | monthDayToMMDD }}">{{ displayDate }}</time>
  </header>

  <div class="prose"{% if contentId %} id="{{ contentId }}"{% endif %}>
    {{ content | safe }}
  </div>
</article>

{% endmacro %}
