{% quote site.title %}
We can let go of this too.
{% endquote %}

<article>
  <p>
    Sometimes we take a wrong turn. Sometimes the path simply dissolves beneath our feet.
    Either way, the meditation you were hoping to find is not here.
  </p>
</article>

{% focal %}
Today, there are many <a class="not-found-action" href="{{ '/index/' | url }}">meditations to choose</a> from. Or, you can choose to <a class="not-found-action" href="{{ '/' | url }}">head home</a>, take a breath, and begin again from there.
{% endfocal %}
