<p>
  Sometimes we take a wrong turn. Sometimes the path simply dissolves beneath our feet.
  Either way, the meditation you were hoping to find is not here.
</p>

{% focal %}
Today, you can <a class="not-found-action" href="{{ '/' | url }}">return home</a>, take a breath, and begin again from there.
{% endfocal %}
