---
layout: base.njk
title: Meditation not found
permalink: /404.html
sitemap: false
---

<header class="meditation-header">
  <h2>{{ site.notFound }}</h2>
</header>

<div class="prose">
  {% include "not-found-content.njk" %}
</div>
